<!DOCTYPE html>
<html lang="en" ng-app="QueryApp">
<head>
    <meta charset="UTF-8">
    <title>fsf2ndAssessment</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="index.css">

</head>

<body ng-controller="queryCtrl as ctrl">

<div class="container">

    <div class ="jumbotron">
    <h1>Books Query </h1>

    <form name="queryForm" novalidate class="form-inline" ng-submit="ctrl.search()">
        <div class="form-group">
            <label for="author_lastname">Author's name:</label>
            <input id="author_lastname" class="form-control" type="text" name="author_lastname"
                   placeholder="Enter author's name to search" ng-model="ctrl.author_lastname" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success form-control" ng-disabled="queryForm.$invalid">
                Search
            </button>
        </div>

        <br>

        <div class="form-group">
            <label for="title">Book's Title:</label>
            <input id="title" class="form-control" type="text" name="title"
                   placeholder="Enter book's title to search" ng-model="ctrl.title" required>
        </div>



        <div class="form-group">
            <button type="submit" class="btn btn-success form-control" ng-disabled="queryForm.$invalid">
                Search
            </button>
        </div>
    </form>

    </div>
    <!--Displaying the Table-->
<div class ="col-xs-12" ng-repeat ="book in ctrl.result">
    <table class="table table-striped" ng-show="ctrl.result">
        <thead>
        <tr>
            <th>Field name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td>Cover Image</td>
            <td>{{ ctrl.result.cover_thumbnail }}</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>{{ ctrl.result.title }}</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>{{ ctrl.result.last_name }}</td>
        </tr>
        <tr>
            <td>Author's Last Name</td>
            <td>{{ ctrl.result.author_lastname }}</td>
        </tr>
        <tr>
            <td>Author's First Name</td>
            <td>{{ ctrl.result.author_firstname}}</td>
        </tr>

        <tr>
            <td>
                <button class = "btn btn-info" ng-click="editBook(books.id)">Edit book </button>

            </td>

        </tr>

        </tbody>
    </table>

</div>
</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="index.js"></script>

</body>




</html>